.chess-board { 
    border-spacing: 0; 
    border-collapse: collapse; 
}

.box {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

#right-pan {
    padding-left: 3em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    flex:1;
}

#historic {
    height: 150px;
    overflow-y: scroll;
}

.pan-item {
    border: 1px solid gray; 
    padding: 1em;
    margin-bottom: 1em;
}

.chess-board th { 
    padding: 1em; 
}

.chess-board th + th { 
    border-bottom: 2px solid #000; 
}

.chess-board th:first-child, .chess-board td:last-child { 
    border-right: 2px solid #000; 
}

.chess-board tr:last-child td { 
    border-bottom: 2px solid; 
}

.chess-board th:empty { 
    border: none; 
}

.chess-board td { 
    width: 1.33em; 
    height: 1.33em; 
    text-align: center; 
    font-size: 3em; 
    line-height: 0;
    border: 1px solid #000; 
}

.chess-board .light { 
    background: #eee; 
}

.chess-board .dark { 
    background: #aaa; 
}

.preview { 
    background: yellow !important; 
}